

.home-page {
    position: relative;
}

.main-area {

    position: absolute;

}


/* Smartphones -----------------------------------------------------------------*/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {
        width: 90vw;
        top: 40px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .main-area {
        right:5vw;      
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .main-area {
        right:7vw;       
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {
        width: 90vw;
        top: 40px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .main-area {
        right:5vw;      
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .main-area {
        right:7vw;
        top: 45px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .main-area {
        width: 90vw;
        top: 40px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .main-area {
        right:5vw;      
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .main-area {
        right:7vw;
        top: 45px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .main-area {
        width: 90vw;
        top: 40px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .main-area {
        right:5vw;      
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .main-area {
        right:7vw;
        top: 45px;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .main-area {
        width: 90vw;
        top: 40px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .main-area {
        right:5vw;      
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .main-area {    
        right:7vw;
        top: 45px;
    } 

}

/* Tablets ---------------------------------------------------------------------*/

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .main-area {
      right:7vw;
      top: 45px;
      width: 80vw;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .main-area {
        right:7vw;
        top: 45px;
        width: 60vw;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area { 
      right:7vw;
      top: 100px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {
      right:8vw;
      width: 85vw;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {
        right:7vw;
        width: 60vw;
    }

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {
      right:3vw;
      top: 100px;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {
      right:8vw;
      width: 85vw;
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {    
        right:5vw;
    }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {   
      right:7vw;
      top: 45px;
      width: 60vw;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-area {   
        right:7vw;
        top: 45px;
        width: 60vw;
    }

}

/* Laptops and other screens ------------------------------------------------------*/

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .main-area {
    
        right:7vw;
        top: 45px;
        width: 55vw;

    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2500px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .main-area {
    
        right:7vw;
        top: 45px;
        width: 55vw;

    }
}


/* .main-area {

    position: fixed;
    left:25vw;
    top: 45px;
    width: 60vw;
} */


  .signup-btn {
    background-color: rgb(250, 215, 0); 
    border-color: rgb(250, 215, 0); 
    border-width: 2px;
    margin:10px 20px;
    width: 85px;
}

.login-btn {
    background-color: rgb(245, 238, 188);
    border-color: rgb(245, 238, 188 );
    border-width: 2px;
    color: rgb(53, 50, 38);
    margin: 10px 20px 10px 0px;
    width: 85px;
}

.signup-btn a {
    color: rgb(53, 50, 38);
}

.login-btn a{
    color: rgb(53, 50, 38);
    
}

.login-btn:hover {
    background-color: rgb(245, 238, 188);
    border-color: rgb(168, 103, 6);
    color: rgb(53, 50, 38);
}

.signup-btn:hover {
    background-color: rgb(250, 215, 0);
    border-color: rgb(168, 103, 6);
    color: rgb(53, 50, 38);
}

.signup-btn:disabled {
    background-color: grey;
    border-color: grey;
    color: rgb(53, 50, 38);
}

#custom-file {
  margin: 12px 20px 10px 0px;
}
