


.home-page-card {
    margin: 20px;
    height: 40vh;
    background-color: $card-bg-color ;
    
   
}

.home-page-card img {
    height: 80%;
}

.home-page-card-title {
     color: white;
}

.home-page-card-title {
    color: $darkBrown;
    text-align: center;
}

