
#toolshed {

    width: 65vw;
    margin-right: 5vw;
    margin-top: 3vh;
    .item {
        border: 2px solid $halfOpaqueLightYellow;
        border-radius: 10px;
        margin: 10px 0px;
        background-color: $halfOpaqueLightYellow;
        width: 55vw;
        img {
            margin: 20px;
            border-radius: 5px;
        }
    }
}


#add-tool-btn {
    margin: 20px;
    background-color: $secondary-btn-bg-color;
    color: $darkBrown;
    border: 2px solid $secondary-border-color;
}

.deatil-col {
    padding: 15px 20px;
}

.button-col {
    padding: 10px 15px;
    position: relative;
}

.toolshed-share-btn {
    position: absolute;
    top: 5px;
    right: 15px;
}

.detail-btn {
    position: absolute;
    top: 65px;
    right: 15px;
}

.lended-to {
    text-align: center;
    background-color: $white;
    padding: 10px 0;
    line-height: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.no-data-alert {
    background-color: $alert-bg-color;
    border-color: $alert-bg-color;
    color: maroon;
    width: 80%;
}
