#tool-detail-img {
    height: 400px;
    width: 100%;
}

.image-navigation {
    width: 35px;
    margin: 1px 0px 10px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tool-detail-form-1 {
    margin-right: 20px; 
}

.update-tool-detail-form {
    width: 55vw;
}

.search-btn {
    height: 38px;
}

.delete-btn {
    background-color: rgb(168, 103, 6);
    border-color: rgb(168, 103, 6);
    color: $darkBrown;
    margin:10px 20px;
    width: 80px;
}

#search-form {
    margin: 50px 20vw;
}

.image-nav {
    background-color: white;
    border-radius: 29px;
    padding-top: 8px;
    border-color: white;
    &:disabled {
        background-color: white;
        color: $disabled-color; 
        border-color: white;
        &:hover {
            background-color: white;
            border-color: white;
        }
    }
    &:hover {
        background-color: $lightYellow;
        border-color: $lightYellow;
    }
    &:visited {
        background-color: white;
        border-color: white;
    }

}
