

.home-page {
    position: relative;
}

.main-area {

    position: absolute;
    left:45vw;
    top: 45px;
    width: 60vw;
    /* height: 90vh; */
}



.side-panel-contents {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 40vw;
}
#side-panel {
    width: 25vw;
    height: 100vh; 
    z-index: 50;
}

@media screen and (max-width: 700px) {
    #side-panel {
        display: none;
    }
    .main-area {

        position: absolute;
        left:25vw;
        top: 45px;
        width: 60vw;
        /* height: 90vh; */
    }
  }

  @media screen and (min-width: 850px) {
    .main-area {

        position: absolute;
        left:35vw;
        top: 45px;
        width: 60vw;
        /* height: 90vh; */
    }
  }

  .signup-btn {
    background-color: rgb(250, 215, 0); 
    border-color: rgb(250, 215, 0); 
    margin:10px 20px;
    width: 80px;
}

.login-btn {
    background-color: rgb(245, 238, 188);
    border-color: rgb(245, 238, 188 );
    color: rgb(53, 50, 38);
    margin: 10px 20px;
    width: 80px;
}

.signup-btn a {
    color: rgb(53, 50, 38);
}

.login-btn a{
    color: rgb(53, 50, 38);
    
}

.login-btn:hover {
    background-color: rgb(250, 215, 0);
    border-color: rgbrgb(250, 215, 0);
    color: rgb(53, 50, 38);
}

.signup-btn:hover {
    color: rgb(53, 50, 38);
}
