

.home-page {
    position: relative;
}

.main-area {

    position: absolute;
    left:25vw;
    top: 30px;
    width: 60vw;
    /* height: 90vh; */
}



.side-panel-contents {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 25vw;
}
#side-panel {
    width: 25vw;
    height: 100vh; 
    z-index: 50;
}