

.login-frame {
    height: 80vh;
    margin: 15vh;
    width: 100vw;
}

.login-frame-row {
    height: 100%;
}

.login-page-image {
    height:  70vh;
    border-radius: 10px;

}

.login-form {
    width: 300px;
}

/* .login-page-btn {

} */



