


.sidebar-list-item a {
    color: #229e9e;
}

/* .panel {
   position: relative;
   height: 98%;
} */

.side-panel-contents{
    margin-top: 2vh;
    height: 100%;
    
}

.side-panel-card {
    background-color:  rgb(229, 229, 229);
}

.side-panel-flush, .sidebar-list-item {
    background-color:  rgb(229, 229, 229);
}

.side-panel-header {
    background-color:   rgb(245, 238, 188);
}

.sidebar-list-item a {
    color: rgb(53, 50, 38);
}

/* .logout-btn {
    position: absolute;
    bottom: 3px;
    left: 0px;

} */

/* .panel-block {
    padding-left: 40px;
} */

/* .panel-block-img {
    padding: 20px;
    
} */

/* .panel-block-img img {
    border-radius: 8px;
} */

/* #panel-heading {
    background-color: rgb(133, 213, 213);
    color: rgb(34, 158, 157);
    font-weight: 900;
} */



