.tool-detail-img {
    height: 100px;
}


.tool-detail-form-1 {
    margin-right: 20px; 
}

.update-tool-detail-form {
    width: 55vw;
}

.search-btn {
    height: 38px;
}

#search-form {
    margin: 50px 20vw;
}