// @import './css/home.scss';
// @import './css/side-panel.css';
// @import './css/toolshed.css';
// @import './css/default.scss';
// @import './css/search.css';
// @import './css/tool-detail.css';

/* $body-bg: #e5e5e5;


@import "../node_modules/bootstrap/scss/bootstrap"; */

/* .App {
  text-align: center;
  
} */

/* a {
  color: rgb(17, 20, 34);
} */

/* a:hover {
  color: blue;
} */


