
@import 'styles/modules/variables.scss';

@import 'styles/login.scss';
@import 'styles/home.scss';
@import 'styles/side-panel.scss';
@import 'styles/toolshed.scss';
@import 'styles/default.scss';
@import 'styles/search.scss';
@import 'styles/tool-detail.scss';
@import 'styles/add-tool.scss';
@import 'styles/intro.scss';
@import 'styles/signup.scss';
@import 'styles/private-profile.scss';
@import 'styles/requests.scss';
@import 'styles/dashboard.scss';



a {
  color: $darkBrown;
  &:hover {
    text-decoration: none;
    color: $darkBrown;
  }
}

.title {
  color: $primary-title-color;
}

.form-field-label {
  color: $secondary-title-color;
  margin-top: 10px;
}
