/* @import './css/home.css';
@import './css/side-panel.css';
@import './css/toolshed.css';
@import './css/default.css';
@import './css/search.css'; */

.App {
  text-align: center;
  
}

a {
  color: rgb(17, 20, 34);
}

a:hover {
  color: blue;
}


