


@import './App.css';
@import './css/login.css';
@import './css/home.css';
@import './css/side-panel.css';
@import './css/toolshed.css';
@import './css/default.css';
@import './css/search.css';
@import './css/tool-detail.css';
@import './css/intro.css';
@import './css/signup.css';
@import './css/private-profile.css';

@import './custom.scss';

body {
  margin: 0;
  padding: 0;
  font-family:     Acme,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(53, 50, 38);
}

.back-btn {
  background-color: rgb(163, 163, 159);
}

#root {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none;
  color: rgb(53, 50, 38);
}

a {
  color: rgb(53, 50, 38);
}

.title {
  color: rgb(250, 215, 0);
}

.form-field-label {
  color: rgb(229, 229, 229);
  margin-top: 10px;
}















/* a {
  color: black;
} */

/* form App.css */
/* .App {
  text-align: center;
  
} */

/* a {
  color: rgb(17, 20, 34);

} */

/* a:hover {
  color: blue;
} */


/* from Home.css */

/* .home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

} */


/* .card-content {
  background-color: rgb(75, 159, 192);
} */

/* .home-card {
  margin-left: 2vw;
  
} */
/* .has-border-radius-5 {
   border-radius: 5px;
} */

/* from Default.css */
/* .home-page {
  position: relative;
} */

/* .side-panel-contents {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 25vw;
} */

/* form side-panel.css */

/* #side-panel {
  width: 25vw;
  height: 100vh; 
} */

/* .panel {
 position: relative;
 height: 98%;
} */

/* .side-panel-contents{
  margin-top: 2vh;
  height: 100%;
} */

/* .logout-btn {
  position: absolute;
  bottom: 3px;
  left: 0px;

} */

/* .panel-block {
  padding-left: 40px;
} */

/* .panel-block-img {
  padding: 20px;
  
} */

/* .panel-block-img img {
  border-radius: 8px;
} */

/* from toolshed.css 
#toolshed {
  height: 96vh;
  width: 65vw;
  margin-left: 5vw;
} */

/* from search.css  */
/* .search-page {
  height: 96vh;
} */

/* .search-page-lower-part {
  margin-top: 50px;
} */


/* #map {
  width: 100%;
  height: 400px;
} */





